#content-wrap {
  min-height: calc(100vh - (70px + 140px));
}

h2 {
  font-size: 2.4em;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 1280px;
  font-size: 1rem;
  margin: 0 auto;
}

.todo-wrap {
  flex-grow: 1;
  min-width: 460px;
}

.control-wrap {
  flex-grow: 0;
  width: 35%;
  min-width: 320px;
  background: #fff;
  padding: 0.5rem;
  margin-right: 2rem;
}

.control-wrap label {
  display: block;
}

[name=comment] {
  width: 90%;
  font-size: 1.25rem;
  padding: 0.3rem;
  margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
}

thead th {
  border-bottom: 2px solid #0099e4;
  color: #0099e4;
}

th,
td {
  line-height: 40px;
}

thead th.id {
  width: 10%;
}

thead th.control {
  width: 10%;
}

tbody tr th,
tbody tr td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  transition: all 0.4s;
}

tbody .comment {
  padding-right: 1rem;
  padding-left: 1rem;
}

tbody .control {
  text-align: center;
}

tbody tr:hover td,
tbody tr:hover th {
  background-color: #f4fbff;
}

button {
  border: none;
  border-radius: 0.375rem;
  line-height: 24px;
  padding: 0 8px;
  background: #0099e4;
  color: #fff;
  cursor: pointer;
}
