* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #111;
  background-color: #fff;
}

img {
  box-sizing: content-box;
  vertical-align: bottom;
}

ul,
ol {
  list-style: none;
}

#wrapper {
  padding-top: 70px;
}

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 25px;
  border-bottom: 2px solid #000;
}

#logo {
  font-size: 2em;
}

main {
  width: 100%;
  min-height: 100%;
  padding: 50px 12px;
}

footer {
  height: 140px;
  background-color: #222;
}

#copyright {
  color: #fff;
  font-size: 1.3em;
  text-align: right;
  padding-right: 25px;
  margin-top: 23px;
}

#topArea a {
  display: block;
  transition: ease-in-out 0.4s;
  width: 100%;
  background-color: #efefef;
  color: #111;
  font-weight: bold;
  text-align: center;
}

#topArea a:hover {
  opacity: 0.95;
}

#topArea .material-icons {
  font-size: 4em;
}

/* その他 */
/* font */
.font-weight-n {
  font-weight: normal;
}

.font-weight-b {
  font-weight: bold;
}

/* clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
